.slider-row {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
}

.input-container {
    flex-direction: row;
    flex-grow: 0.6;
    margin-right: 4px;
}

.transformationcontroller-property {
    margin-bottom: 4px;
}

.transformationcontroller-property-label {
    flex: 1;
    margin-left: 16;
}

.transformationcontroller-slider {
    flex: 3;
    margin-right: 4px;
}

.transformationcontroller-property-progress-bar {
    margin-left: 16px;
    margin-right: 4px;
}

.transformationcontroller-float-field {
    min-width: 48px;
}

.list-field {
    justify-content: flex-start;
    margin-left: 16px;
    margin-right: 4px;
    margin-top: 6px;
    flex-grow: 0.6;
}
